@media screen and (max-width: 1440px) {
  .header__content--container {
    padding: 20px 0;
  }
}
@media screen and (max-width: 1300px) {
  .main__section--block-left > h1 {
    font-size: 44px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .main__section--block-left > h1 > span {
    font-size: 48px;
    line-height: 50px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 50px;
    font-size: 26px;
  }
}
@media screen and (max-width: 1200px) {
  .main__section--block-left > h1 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .main__section--block-left > h1 > span {
    font-size: 44px;
    line-height: 50px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 47px;
    font-size: 25px;
  }
  .input--container {
    margin: 15px 0;
    min-width: 300px;
  }
  .input--container:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .main__section--block-left > h1 {
    font-size: 38px;
    line-height: 42px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .main__section--block-left > h1 > span {
    font-size: 42px;
    line-height: 44px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .slogan__txt {
    font-size: 16px;
    line-height: 20px;
  }
  .main__section--btn > span {
    font-size: 16px;
    padding: 13px 21px;
  }

  /* SECTION COURSES */
  .course__card {
    width: 350px;
    margin-top: 10px;
    padding: 20px 10px;
  }
  .course--title {
    font-size: 18px;
    line-height: 20px;
    height: 45px;
  }

  /* SECTION CONTACTS */
  .input--container {
    margin: 15px 0;
    min-width: 280px;
  }
  .input--container:first-child {
    margin-right: 25px;
  }
}

@media screen and (max-width: 870px) {
  .header__content--container {
    padding: 15px 0;
  }
  /* BURGER */
  .social__medias--header {
    display: none;
  }
  .nav__container {
    display: none;
  }
  .burger__container {
    display: block;
  }
  .burger__btn {
    width: 45px;
    height: 45px;
    background: #000;
    background: transparent;
    position: relative;
    border: none;
  }
  .burger__line {
    left: 0;
    position: absolute;
    width: 45px;
    height: 3px;
    background: #1f1f1f;
    /* background: #fff; */
    border-radius: 12px;
    transition: 0.7s ease;
  }
  .burger__line:first-child {
    top: 7px;
  }
  .burger__line:nth-child(2) {
    top: 20.5px;
  }
  .burger__line:last-child {
    top: 34px;
  }
  .burger__menu {
  }
  .nav__menu {
    flex-direction: column;
    align-items: center;
  }
  .nav__item {
    margin-right: 0;
    margin: 15px 0;
  }
  .nav__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .social__medias--burger{
    padding-bottom: 8px;
  }
  .burger__btn--closed {
  }
  .burger__btn--opened {
  }
  .burger__btn--opened > .burger__line:first-child {
    transform: rotate(45deg);
    top: 20.5px;
  }
  .burger__btn--opened > .burger__line:nth-child(2) {
    width: 0;
  }
  .burger__btn--opened > .burger__line:last-child {
    top: 20.5px;
    transform: rotate(-45deg);
  }
  .burger__menu--closed {
    display: none;
  }
  .burger__menu--opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 55px;
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 101;
    /* From https://css.glass */
    background: rgba(216, 246, 246, 0.78);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(216, 246, 246, 0.95);
  }

  /* MAIN SECTION */
  .section__title {
    font-size: 34px;
    line-height: 36px;
  }
  .main__section--block-left > h1 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .main__section--block-left > h1 > span {
    font-size: 34px;
    line-height: 40px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 36px;
    font-size: 22px;
  }
  .slogan__txt {
    font-size: 16px;
  }
  .main__section--btn > span {
    font-size: 14px;
  }
  /* SECTION COURSES */
  .courses__container {
    justify-content: start;
    align-items: start;
  }
  .course__card {
    width: 325px;
    margin-right: 15px;
    padding: 20px 10px;
  }
  /* SECTION ABOUTME */
  .aboutme__content--container {
    flex-direction: column;
    align-items: center;
  }
  .aboutme__content--container:nth-child(2) {
    flex-direction: column;
  }
  .section__contacts--container {
    flex-direction: column;
  }
  .input--container {
    margin: 15px 0;
    /* min-width: 280px; */
    width: 100%;
  }
  .section__cotacts--left > h6 {
    max-width: 100%;
    margin-bottom: 35px;
  }
  .input--container:first-child {
    margin-right: 25px;
  }
  .aboutme__img--container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__content--container{
    padding: 13px 0;
  }
  .burger__menu--opened{
    top: 72px;
    margin-bottom: 60px;
  }
  /* SECTION MAIN */
  .section__title {
    font-size: 32px;
    line-height: 34px;
  }
  .main__section--block-left > h1 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .main__section--block-left > h1 > span {
    font-size: 38px;
    line-height: 42px;
  }
  /* SECTION COURSES */

  .course__card {
    margin-right: 10px;
  }
  /* SECTION ABOUTME */

  .aboutme__content--container {
    display: flex;
    flex-direction: column-reverse;
    margin: 35px 0px;
    align-items: center;
    /* justify-content: center; */
  }
  .aboutme__content--container:nth-child(2) {
    flex-direction: column-reverse;
  }
  .aboutme__img--container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .aboutme__img--container-first {
    margin-left: 0px;
  }
  .aboutme__img--container-second {
    margin-right: 0px;
  }
  .slick-prev {
    width: 22px;
    left: -13px;
    display: none;
  }
  .slick-next {
    width: 22px;
    right: -13px;
    display: none;
  }
  .section__contacts--container {
    flex-direction: column;
    justify-content: start;
  }
  .section__cotacts--left {
    margin-bottom: 30px;
  }
  .two__inp--container {
    flex-direction: column;
  }
  .input--container {
    min-width: 250px;
  }
  .input--container:first-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 735px) {
  .header__content--container{
    padding: 10px 0;
  }
  .burger__menu--opened{
    top: 66px;
    margin-bottom: 60px;
  }
  .section__title {
    font-size: 30px;
    line-height: 32px;
  }
  .main__section--block-left > h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 28px;
  }
  .main__section--block-left > h1 > span {
    font-size: 32px;
    line-height: 38px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 33px;
    font-size: 21px;
  }
  .slogan__txt {
    font-size: 14px;
    line-height: 20px;
  }
  .courses__container {
    justify-content: center;
    align-items: start;
  }
  .course__card {
    width: 385px;
    margin-right: 0px;
    padding: 20px 15px;
  }
  .course--title {
    font-size: 22px;
    line-height: 24px;
    height: 50px;
  }
  .aboutme__txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .section__title {
    font-size: 27px;
    line-height: 30px;
  }
  .main__section--block-left > h1 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 26px;
  }
  .main__section--block-left > h1 > span {
    font-size: 28px;
    line-height: 32px;
  }
  .main__section--block-left > h2 {
    margin-bottom: 32px;
    font-size: 19px;
  }
}
@media screen and (max-width: 378px) {
  .section__title {
    font-size: 25px;
    line-height: 28px;
  }
  .main__section--block-left > h1 {
    font-size: 25px;
    line-height: 28px;
  }
  .main__section--block-left > h1 > span {
    font-size: 27px;
    line-height: 30px;
  }
}
