*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* body {
} */
ul,
li {
  list-style: none;
}
.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  transition: all 0.4s ease;
}
a:hover {
  color: #ec4a42;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.fw-600 {
  font-weight: 600;
}
s {
  font-size: 11px;
  color: #555;
}

button:focus {
  outline-style: solid;
  outline-offset: 1px;
  outline-width: 3px;
  outline-color: #555;
}
fieldset {
  border: 1px solid #f1f1f1;
  padding: 15px;
  padding-bottom: 35px;
  border-radius: 8px;
}
legend {
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  /* margin-left: 10px; */
}

.socialMedias > li > a > svg {
}
.socialMedias > li > a > svg > path {
  fill: #1f1f1f;
  transition: all 0.6s ease-out;
}
.socialMedias > li > a > svg > g > path {
  fill: #1f1f1f;
  transition: all 0.6s ease-out;
}
.linkedIn:hover {
  cursor: pointer;
}
.linkedIn:hover > a > .linkedInIcon > path {
  fill: #0a66c2;
}
.twitter:hover > a > .twitterIcon > path {
  fill: #1d9bf0;
}
.facebook:hover {
  cursor: pointer;
}
.facebook:hover > a > .facebookIcon > path {
  fill: #385898;
}
.instagram:hover {
  cursor: pointer;
}
.instagram:hover > a > .instagramIcon > g > path {
  transition: 0.5s ease;
  fill: url(#rg);
}
.telegram:hover {
  cursor: pointer;
}
.telegram:hover > a > .telegramIcon > path {
  fill: #08c;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #fff;
  max-width: 850px;
  min-height: 348px;
  padding: 30px 50px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

@media screen and (max-width: 768px) {
  legend {
    font-size: 18px;
  }
}
